@import "../../style.scss";

.chats {
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    overflow: scroll;
    height:500px;
    &::-webkit-scrollbar {
        display: none;
      }
    .close{
        border: none;
        background-color: #256D85;
        color: white;
        padding: 10px;
        margin: 10px 0;
        cursor: pointer;
        border-radius: 3px;
    }
  @include themify($themes) {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .write{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin: 20px 0px;

      input{
        flex:5;
        padding: 10px;
        border: 1px solid themed("border");
        background-color: transparent;
        color: themed("textColor");
      }

      button{
        border: none;
        background-color: #256D85;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 3px;
      }
    }
    #blue{
        background-color: #256D85;
        color: white;
        
    }
    
    .chat .right{
        margin-left: 50px;
    }
    .chat {
        border: solid grey 1px;
      margin: 15px 0px;  
      display: flex;
      justify-content: space-between;
      gap: 20px;

      img{
        flex:none;
      }

      .info {
        flex:auto;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-start;

        span {
          font-weight: 500;
        }

        p{
          color:themed("textColorSoft")
        }
      }

      .date{
        flex:none;
        align-self: center;
        color: gray;
        font-size: 12px;
      }
    }
  }
}
