@import "../../style.scss";

.results {
  border-radius: 10px;
  
  width:40%;
  align-self: center;
  // margin-left: auto;
  // margin-right: auto;
  margin-left: 370px;

  z-index: 1000; 
  margin-top: 67px;
  position: fixed;
  background-color:#00ABB3;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  padding-left: 15px;


  @include themify($themes) {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;

    }

    

    .result {
      
      margin: 10px 0px;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .info {
        flex:5;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-start;

        span {
          font-weight: 500;
        }

        p{
          color:themed("textColorSoft")
        }
      }

      .date{
        flex:1;
        align-self: center;
        color: gray;
        font-size: 12px;
      }
    }
  }
  button{
    
    align-items: center;
    align-self: center;
    width:50%;
    margin:15px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: #256D85;
  }
}
